<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="pixelpro_holamundo_mostrar_texto">
        <observer name="cambiar_texto" instance="Pixelpro\Holamundo\Observer\CambiarTexto" />
    </event>
</config>